E-User/src/conf/xml-resources/web-service-references/UserService/wsdl/localhost_8080/EUserService/UserService.wsdl

<?xml version='1.0' encoding='UTF-8'?><!-- Published by JAX-WS RI (http://jax-ws.java.net). RI's version is Metro/2.3.1-b419 (branches/2.3.1.x-7937; 2014-08-04T08:11:03+0000) JAXWS-RI/2.2.10-b140803.1500 JAXWS-API/2.2.11 JAXB-RI/2.2.10-b140802.1033 JAXB-API/2.2.12-b140109.1041 svn-revision#unknown. --><!-- Generated by JAX-WS RI (http://jax-ws.java.net). RI's version is Metro/2.3.1-b419 (branches/2.3.1.x-7937; 2014-08-04T08:11:03+0000) JAXWS-RI/2.2.10-b140803.1500 JAXWS-API/2.2.11 JAXB-RI/2.2.10-b140802.1033 JAXB-API/2.2.12-b140109.1041 svn-revision#unknown. --><definitions xmlns:wsu="http://docs.oasis-open.org/wss/2004/01/oasis-200401-wss-wssecurity-utility-1.0.xsd" xmlns:wsp="http://www.w3.org/ns/ws-policy" xmlns:wsp1_2="http://schemas.xmlsoap.org/ws/2004/09/policy" xmlns:wsam="http://www.w3.org/2007/05/addressing/metadata" xmlns:soap="http://schemas.xmlsoap.org/wsdl/soap/" xmlns:tns="http://service.app/" xmlns:xsd="http://www.w3.org/2001/XMLSchema" xmlns="http://schemas.xmlsoap.org/wsdl/" targetNamespace="http://service.app/" name="UserService">
<types>
<xsd:schema>
<xsd:import namespace="http://service.app/" schemaLocation="http://localhost:8080/EUserService/UserService?xsd=1"/>
</xsd:schema>
</types>
<message name="getTimeTableLists">
<part name="parameters" element="tns:getTimeTableLists"/>
</message>
<message name="getTimeTableListsResponse">
<part name="parameters" element="tns:getTimeTableListsResponse"/>
</message>
<message name="getUserList">
<part name="parameters" element="tns:getUserList"/>
</message>
<message name="getUserListResponse">
<part name="parameters" element="tns:getUserListResponse"/>
</message>
<message name="checkLogin">
<part name="parameters" element="tns:checkLogin"/>
</message>
<message name="checkLoginResponse">
<part name="parameters" element="tns:checkLoginResponse"/>
</message>
<message name="hello">
<part name="parameters" element="tns:hello"/>
</message>
<message name="helloResponse">
<part name="parameters" element="tns:helloResponse"/>
</message>
<message name="getAllLabs">
<part name="parameters" element="tns:getAllLabs"/>
</message>
<message name="getAllLabsResponse">
<part name="parameters" element="tns:getAllLabsResponse"/>
</message>
<portType name="UserService">
<operation name="getTimeTableLists">
<input wsam:Action="http://service.app/UserService/getTimeTableListsRequest" message="tns:getTimeTableLists"/>
<output wsam:Action="http://service.app/UserService/getTimeTableListsResponse" message="tns:getTimeTableListsResponse"/>
</operation>
<operation name="getUserList">
<input wsam:Action="http://service.app/UserService/getUserListRequest" message="tns:getUserList"/>
<output wsam:Action="http://service.app/UserService/getUserListResponse" message="tns:getUserListResponse"/>
</operation>
<operation name="checkLogin">
<input wsam:Action="http://service.app/UserService/checkLoginRequest" message="tns:checkLogin"/>
<output wsam:Action="http://service.app/UserService/checkLoginResponse" message="tns:checkLoginResponse"/>
</operation>
<operation name="hello">
<input wsam:Action="http://service.app/UserService/helloRequest" message="tns:hello"/>
<output wsam:Action="http://service.app/UserService/helloResponse" message="tns:helloResponse"/>
</operation>
<operation name="getAllLabs">
<input wsam:Action="http://service.app/UserService/getAllLabsRequest" message="tns:getAllLabs"/>
<output wsam:Action="http://service.app/UserService/getAllLabsResponse" message="tns:getAllLabsResponse"/>
</operation>
</portType>
<binding name="UserServicePortBinding" type="tns:UserService">
<soap:binding transport="http://schemas.xmlsoap.org/soap/http" style="document"/>
<operation name="getTimeTableLists">
<soap:operation soapAction=""/>
<input>
<soap:body use="literal"/>
</input>
<output>
<soap:body use="literal"/>
</output>
</operation>
<operation name="getUserList">
<soap:operation soapAction=""/>
<input>
<soap:body use="literal"/>
</input>
<output>
<soap:body use="literal"/>
</output>
</operation>
<operation name="checkLogin">
<soap:operation soapAction=""/>
<input>
<soap:body use="literal"/>
</input>
<output>
<soap:body use="literal"/>
</output>
</operation>
<operation name="hello">
<soap:operation soapAction=""/>
<input>
<soap:body use="literal"/>
</input>
<output>
<soap:body use="literal"/>
</output>
</operation>
<operation name="getAllLabs">
<soap:operation soapAction=""/>
<input>
<soap:body use="literal"/>
</input>
<output>
<soap:body use="literal"/>
</output>
</operation>
</binding>
<service name="UserService">
<port name="UserServicePort" binding="tns:UserServicePortBinding">
<soap:address location="http://localhost:8080/EUserService/UserService"/>
</port>
</service>
</definitions>