E-User/src/conf/xml-resources/web-service-references/UserService/wsdl/localhost_8080/EUserService/UserService.xsd_1.xsd

<?xml version='1.0' encoding='UTF-8'?><!-- Published by JAX-WS RI (http://jax-ws.java.net). RI's version is Metro/2.3.1-b419 (branches/2.3.1.x-7937; 2014-08-04T08:11:03+0000) JAXWS-RI/2.2.10-b140803.1500 JAXWS-API/2.2.11 JAXB-RI/2.2.10-b140802.1033 JAXB-API/2.2.12-b140109.1041 svn-revision#unknown. --><xs:schema xmlns:tns="http://service.app/" xmlns:xs="http://www.w3.org/2001/XMLSchema" version="1.0" targetNamespace="http://service.app/">

<xs:element name="checkLogin" type="tns:checkLogin"/>

<xs:element name="checkLoginResponse" type="tns:checkLoginResponse"/>

<xs:element name="getAllLabs" type="tns:getAllLabs"/>

<xs:element name="getAllLabsResponse" type="tns:getAllLabsResponse"/>

<xs:element name="getTimeTableLists" type="tns:getTimeTableLists"/>

<xs:element name="getTimeTableListsResponse" type="tns:getTimeTableListsResponse"/>

<xs:element name="getUserList" type="tns:getUserList"/>

<xs:element name="getUserListResponse" type="tns:getUserListResponse"/>

<xs:element name="hello" type="tns:hello"/>

<xs:element name="helloResponse" type="tns:helloResponse"/>

<xs:complexType name="getTimeTableLists">
<xs:sequence>
<xs:element name="userID" type="xs:int"/>
</xs:sequence>
</xs:complexType>

<xs:complexType name="getTimeTableListsResponse">
<xs:sequence>
<xs:element name="return" type="tns:timeTable" minOccurs="0" maxOccurs="unbounded"/>
</xs:sequence>
</xs:complexType>

<xs:complexType name="timeTable">
<xs:sequence>
<xs:element name="fr" type="xs:int"/>
<xs:element name="id" type="xs:int"/>
<xs:element name="labID" type="xs:int"/>
<xs:element name="mo" type="xs:int"/>
<xs:element name="sa" type="xs:int"/>
<xs:element name="su" type="xs:int"/>
<xs:element name="th" type="xs:int"/>
<xs:element name="timeEnd" type="tns:date" minOccurs="0"/>
<xs:element name="timeStart" type="tns:date" minOccurs="0"/>
<xs:element name="tue" type="xs:int"/>
<xs:element name="userID" type="xs:int"/>
<xs:element name="we" type="xs:int"/>
</xs:sequence>
</xs:complexType>

<xs:complexType name="date">
<xs:sequence/>
</xs:complexType>

<xs:complexType name="getAllLabs">
<xs:sequence/>
</xs:complexType>

<xs:complexType name="getAllLabsResponse">
<xs:sequence>
<xs:element name="return" type="tns:lab" minOccurs="0" maxOccurs="unbounded"/>
</xs:sequence>
</xs:complexType>

<xs:complexType name="lab">
<xs:sequence>
<xs:element name="labID" type="xs:int"/>
<xs:element name="labName" type="xs:string" minOccurs="0"/>
<xs:element name="lab_quantity_student" type="xs:int"/>
<xs:element name="numOfCom" type="xs:int"/>
</xs:sequence>
</xs:complexType>

<xs:complexType name="getUserList">
<xs:sequence/>
</xs:complexType>

<xs:complexType name="getUserListResponse">
<xs:sequence>
<xs:element name="return" type="tns:user" minOccurs="0" maxOccurs="unbounded"/>
</xs:sequence>
</xs:complexType>

<xs:complexType name="user">
<xs:sequence>
<xs:element name="name" type="xs:string" minOccurs="0"/>
<xs:element name="password" type="xs:string" minOccurs="0"/>
<xs:element name="role" type="xs:int"/>
<xs:element name="userID" type="xs:int"/>
<xs:element name="username" type="xs:string" minOccurs="0"/>
</xs:sequence>
</xs:complexType>

<xs:complexType name="hello">
<xs:sequence>
<xs:element name="name" type="xs:string" minOccurs="0"/>
</xs:sequence>
</xs:complexType>

<xs:complexType name="helloResponse">
<xs:sequence>
<xs:element name="return" type="xs:string" minOccurs="0"/>
</xs:sequence>
</xs:complexType>

<xs:complexType name="checkLogin">
<xs:sequence>
<xs:element name="username" type="xs:string" minOccurs="0"/>
<xs:element name="password" type="xs:string" minOccurs="0"/>
</xs:sequence>
</xs:complexType>

<xs:complexType name="checkLoginResponse">
<xs:sequence>
<xs:element name="return" type="xs:boolean"/>
</xs:sequence>
</xs:complexType>
</xs:schema>